.board-menu-surface{
    flex: none;
    height: auto;
    padding: 8px 4px 8px 8px;
    position: relative;
}

.board-title{
    display: inline-block;
    border-radius: 3px;
    cursor: default;
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding-left: 4px;
    padding-right: 2px;
    text-decoration: none;
    max-width: calc(100% - 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 32px;
    margin: 0 4px 0 0;
    padding: 0px 8px 0px 8px;
    border-radius: 3px;
    color: #f6f6f6;
    font-size: 14px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.menu-item:hover{
    background: rgba(0,0,0,.3);
}

.board-title:hover {
    background: rgba(0,0,0,.3);
}

.board-title-text{
    padding-left: 8px;
    padding-right: 12px;
}


.member-avatar{
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 25em;
    line-height: 28px;
    font-size: 12px;
    font-weight: 700;
    background-color: #dfe3e6;
    color: #17394d;
    overflow: visible;
    position: relative;
    
}

.divider {
    float: left;
    border-left: 1px solid hsla(0,0%,100%,.2);
    height: 16px;
    margin: 8px 4px 0 0;
}