<div class="list-container">
  <div class="list-header">
      <button type="submit" class="un-styled-button hide-dialog-trigger" (click)="onDelete()">
          <fa-icon [icon]="['fas','times']"></fa-icon>
      </button>
    <h2>{{ list.title }}</h2>
  </div>  
  <div
      cdkDropList
      id="{{getListId()}}"
      [cdkDropListData]="cards"
      class="card-list-container"
      [cdkDropListConnectedTo]="getConnectedList()"
      (cdkDropListDropped)="dropCard($event)">
      <app-card 
        *ngFor = "let card of cards"
        [card] = "card"
        cdkDrag>
      </app-card>
  </div>
  <div class="new-card" 
    (click)="onAddNewCard()">
      <fa-icon [icon]='["fas","plus"]'></fa-icon>
      <span>Add another card</span>
    <app-card-manager
      *ngIf="isAddCardManagerActive" 
      (cardManagerSubmitEventEmitter)="cardManagerEventEmitter($event)"
      (cardManagerCancelEventEmitter)="cardManagerEventEmitter($event)"
      [list]="list"> 
    </app-card-manager>
  </div>
</div>