app-card, .new-card {
	color: rgb(23, 57, 77);
	cursor: pointer;
	display: block;
	height: 52px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 2px;
	position: relative;
	text-size-adjust: 100%;
	text-align: left;
	user-select: none;
	white-space: normal;
	width: 240px;
	z-index: 10;
  	margin: 8px;
}

app-card {
	border-style: solid;
  	border-width: 1px;
}

.new-card {
	border-style: dashed;
  	border-width: 1px;
}

