<div class="list-container">
  <div class="list-header">
      <!-- <button type="submit" class="un-styled-button hide-dialog-trigger" (click)="onDelete()">
          <fa-icon [icon]="['fas','times']"></fa-icon>
      </button> -->
    <h2>{{ list.title }}</h2>
  </div>  
  <div
      cdkDropList
      id="{{getListId()}}"
      [cdkDropListData]="cards"
      class="card-list-container"
      [cdkDropListConnectedTo]="getConnectedList()"
      (cdkDropListDropped)="dropCard($event)">
      <app-card 
        *ngFor = "let card of cards"
        [card] = "card"
        cdkDrag>
      </app-card>
  </div>
  <div class="new-card">
      <fa-icon [icon]='["fas","plus"]'></fa-icon>
      <span (click)="onAddNewCard()" *ngIf="!isAddCardActive" >
        Add another card
      </span>
    <app-add-card
      *ngIf="isAddCardActive" 
      (addCardEventEmitter)="addCardEventReciever($event)"
      [list]="list"> 
    </app-add-card>
  </div>
</div>