.add-card-container{
    padding-bottom: 8px;
}

.add-card-input{
    background-color: #fff;
    border-radius: 3px;
    padding: 6px 8px 2px 8px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

/* .add-card-input input{
    border:none;
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #17394d;
} */

.add-card-text-area{
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 54px;
    padding: 0px;
    box-shadow: none;
}

textarea:focus{
    outline: 0;
}



.add-button{
    background-color: #5aac44;
    box-shadow: 0 1px 0 0 #3f6f21;
    border: none;
    color: #fff;
    border-radius: 3px;
    min-height: 30px;
    height: 30px;
    margin-top: 0;
    margin-right: 4px; 
    padding-top: 4px;
    padding-bottom: 4px;

    cursor: pointer;
    font-weight: 700;
    line-height: 20px;
    padding: 6px 12px;
    text-align: center;
}

fa-icon  {
    color: #798d99;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}
