.list-container{
	background-color: #dfe3e6;
	display: flex;
	flex-direction: column;
	width: 272px;
  margin: 0 4px;
  box-sizing: border-box;
  vertical-align: top;
	white-space: nowrap;
	border-radius: 3px;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-name {
  display: inline-block;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 28px;
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -4px 0;
  height: 20px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  max-height: 256px;
}

.list-container:first-child{
	margin-left: 8px;
}

.list-textarea-wrapper{
  min-height: 20px;
  padding: 10px 36px 8px 8px;
}

.list-menu {
  position: absolute;
  right: 4px;
  top: 4px; 
  border-radius: 3px;
}

.list-menu:hover {
  color: #516b7a;
  text-decoration: none;
  background-color: rgba(9,45,66,.13);
}


.list-menu fa-icon{
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content:center;
}

.list-header {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.list-header textarea {
	overflow: hidden;
  overflow-wrap: break-word;
  height: 28px;
}

.card-list-wrapper {
	flex: 1 1 auto;
	margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.new-card {
	border-radius: 0 0 3px 3px;
  color: #6b808c;
  display: block;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.new-card:hover{
  background-color: rgba(9,45,66,.13);
  color: #17394d;
  text-decoration: underline;
}

.card-list-container{
	min-height: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 20ms cubic-bezier(0, 0, 0.2, 1);
}


