<div class="list-wrapper">
  <div class="list-header">
      <div class="list-textarea-wrapper">
          <textarea class="list-name">{{list.title}}</textarea>
      </div>
      <div class="list-menu">
          <fa-icon [icon]='["fas","ellipsis-h"]' class="icon-large"></fa-icon>
      </div>
  </div>
  <div #cardListWrapper class="card-list-wrapper fancy-scroll">
      <div
          cdkDropList
          id="{{getListId()}}"
          [cdkDropListData]="cards"
          class="card-list-container"
          [cdkDropListConnectedTo]="getConnectedList()"
          (cdkDropListDropped)="dropCard($event)">
          <app-card 
            *ngFor = "let card of cards"
            [card] = "card"
            (cardEventEmitter)="cardEventReciever($event)"
            cdkDrag>
          </app-card>
      </div>
      <app-add-card
        *ngIf="isAddCardActive" 
        (addCardEventEmitter)="addCardEventReciever($event)"
        [list]="list"> 
      </app-add-card>
  </div>
    <div class="new-card">
        <fa-icon *ngIf="!isAddCardActive" [icon]='["fas","plus"]' class="icon-small"></fa-icon>
        <span (click)="onAddNewCard()" *ngIf="!isAddCardActive" >
          Add another card
        </span>
    </div>
</div>
