header {
    background: #026aa7;
    padding: 4px;
    margin: 0 0 4px 0;
    height: 60px;
}

header h1 {
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

header nav a {
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    color: white;
}