<nav class="sidebar-wrapper">
  <div>
    <div routerLink="" class="nav-section-item boards-item">
      <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
      <span>Boards</span>	
    </div>
    <div routerLink="" class="nav-section-item home-item">
      <fa-icon [icon]="['fas', 'home']"></fa-icon>	
      <span>Home</span>	
    </div>
  </div>
  <div>
    <div class="nav-section">
      <div class="nav-section-header">Teams</div>
      <div class="nav-section-item team-item">
          <fa-icon [icon]="['fas', 'plus']" class="header-button-icon"></fa-icon>
          <span>Create Team</span>
      </div>
    </div>
  </div>
</nav>
