.sidebar-wrapper{
    margin-top: 40px;
    width: 210px;
}

.is-active{
    background-color: #e4f0f6;
    color: #026aa7;
}

.nav-section-item {
    padding: 6px 8px 6px 0px;
    margin-bottom: 4px;
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    min-height: 20px;
    overflow: hidden;
    text-decoration: none;
}

.nav-section-header {
    padding: 8px;
}

.nav-section-item:hover{
    background-color: rgba(9,45,66,.13);
}

.is-active:hover{
    background-color: #e4f0f6;
}

.team-item{
    font-weight: 400;
}

