<nav class="sidebar-wrapper">
  <div>
    <div routerLink="" class="nav-section-item is-active">
      <fa-icon [icon]="['fas', 'plus-square']" class="icon-small" style="width:32px;"></fa-icon>
      <span>Boards</span>	
    </div>
    <div routerLink="" class="nav-section-item" >
      <fa-icon [icon]="['fas', 'home']" class="icon-small" style="width:32px;"></fa-icon>	
      <span>Home</span>	
    </div>
  </div>
  <div>
    <div class="nav-section">
      <div class="nav-section-header">Teams</div>
      <div class="nav-section-item team-item">
          <fa-icon [icon]="['fas', 'plus']" class="icon-small" style="width:32px;"></fa-icon>
          <span>Create Team</span>
      </div>
    </div>
  </div>
</nav>
