<div class="surface">
	<app-menu [board]="board"></app-menu>
	<div cdkDropList 
	[cdkDropListData]="lists"
	cdkDropListOrientation="horizontal"
	(cdkDropListDropped)="dropList($event)"
	class="list-container">
		<app-list 
			*ngFor="let list of lists" 
			[list]="list"
			[cdkDragData]="list"
			[listIdArray]="getListIdArray()"
			cdkDrag>
		</app-list>
		<div class="new-list">
			<fa-icon [icon]='["fas","plus"]'></fa-icon>
			<span (click)="onAddNewList()" 
				*ngIf="!isAddListActive">
				Add another list
			</span>
			<app-add-list *ngIf="isAddListActive" 
				[board]="board"
				(addListEventEmitter)="addListEventReciever($event)">
			</app-add-list>
		</div>
		
	</div>
</div>

