<div class="board-surface"> <!-- covers 100% of screen after header-->
	<div class="board-menu-wrapper">
		<app-board-menu [board]="board"></app-board-menu>
	</div>
	<div class="list-container-wrapper"> <!-- covers 100% of screen after app menu-->
		<div class="relative-position-full-height"> <!-- Trickiest Part of Project : uses position relative to make height accessible to child -->
			<div class="absolute-position-full-surface"> <!-- Trickiest Part of Project : uses position absolute to remove vertical scroll through overflow -->
				<div cdkDropList 
				[cdkDropListData]="lists"
				cdkDropListOrientation="horizontal"
				(cdkDropListDropped)="dropList($event)"
				class="list-container fancy-scroll board-x-scroll">
					<app-list 
						*ngFor="let list of lists" 
						[list]="list"
						[cdkDragData]="list"
						[listIdArray]="getListIdArray()"
						cdkDrag>
					</app-list>
					<div class="new-list">
						<fa-icon [icon]='["fas","plus"]'></fa-icon>
						<span (click)="onAddNewList()" 
							*ngIf="!isAddListActive">
							Add another list
						</span>
						<app-add-list *ngIf="isAddListActive" 
							[board]="board"
							(addListEventEmitter)="addListEventReciever($event)">
						</app-add-list>
					</div>	
				</div>
			</div>		
		</div>
	</div>
</div>
