app-list, .new-list {
	box-sizing: border-box;
	color: rgb(23, 57, 77);
	display: inline-block;
	margin: 4px;
	padding: 4px;
	text-align: center;
	user-select: none;
	vertical-align: top;
	white-space: nowrap;
	width:272px;
}

app-list {
	height: 364px;
	border-style: solid;
  	border-width: 1px;
}

.new-list {
	height: 40px;
	cursor: pointer;
	border-style: dashed;
  	border-width: 1px;
}