<div class="personal-board-container">
	<div class="board-section-header">
		<fa-icon [icon]="['fas','user']"></fa-icon>
		<span>Personal Boards</span>
	</div>
	<div class="board-list">
		<div class="board"
			*ngFor="let board of boards" 
			routerLink="/board/{{board.id}}">
			<div class="board-tile-details">{{ board.title }}</div>
		</div>
		<div class="new-board board" 
				(click)="onCreateNewBoard()">
			<div class="board-tile-details">
				Create new board...
			</div>
		</div>
		<app-board-manager *ngIf="isManagerActive()" 
		(boardManagerEventEmitter)="boardManagerEventEmitter($event)"></app-board-manager>
	</div>		
</div>