.sidebar-cover {
	display: block;
	margin-top: 40px;
	width: 220px;
}

.all-boards{
	padding: 0 0 0 64px;
	margin-top: 40px;
    width: 860px;
    overflow: hidden;
	display: block;
}

.container{
	display: flex;
    flex-direction: row;
	align-items: flex-start;
	margin-top: 40px; 
}


