<div class="app-surface">
    <div class="header-surface">
        <app-header></app-header>
        <app-boards-pop-up *ngIf="isBoardsPopUpActive"></app-boards-pop-up>
        <app-create-pop-up *ngIf="isCreatePopUpActive"></app-create-pop-up>
        <app-info-pop-up *ngIf="isInfoPopUpActive"></app-info-pop-up>
        <app-notification-pop-up *ngIf="isNotificationPopUpActive"></app-notification-pop-up>
        <app-profile-pop-up *ngIf="isProfilePopUpActive"></app-profile-pop-up>
    </div>
    <div class="router-surface">
        <router-outlet></router-outlet>
    </div>
</div>