<div class="overlay">
  <div class="form-surface">  
    <form class="create-board-form">
      <div class="form-container">
        <div class="board-tile create-board-tile">
          <button type="submit" class="un-styled-button hide-dialog-trigger"(click)="onCancel()">
            <fa-icon [icon]="['fas','times']"></fa-icon>
          </button>
          <div>
            <input type="text" name="title" [(ngModel)]="title" placeholder="Add Board title">  
          </div>
        </div>
        </div>
        <button type="submit" (click)="onSubmit()">
          <span>Create Board</span>
        </button>
      </form>
  </div>
</div>



