.landing-screen-wrapper{
	display: flex;
    flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

@media only screen and (max-width: 711px) {
	.sidebar-wrapper{
		display: none;
	}
	
	.page-wrapper {
		width: 100%;
		min-width: 352px;
	}
}


