<div class="card-wrapper" (mouseover)="isActive=true" (mouseout)="isActive=false" (click)="isCardDetailsActive=true">
	<div class="card-operations" [style.visibility]="isActive ? 'visible' : 'hidden'">
		<fa-icon [icon]="['fas','pen']" class="icon-small"></fa-icon>
	</div>
	<div *ngIf="card.label" class="card-label-wrapper"  [style.background-color]="card.labelColor" (click)="toggleCardLabelDisplay()">
		<span *ngIf="isCardLabelDisplayActive()" class="card-label">{{card.label}}</span>
	</div>
	<span class="card-title">{{card.title}}</span>
	<div style="display:flex; flex-direction:row;justify-content:space-between;">
		<div class="badges">
			<div *ngIf="card.description" class="badge" title="This card has description"> 
				<fa-icon [icon]="['fas','align-justify']" class="icon-small"></fa-icon>
			</div>
			<div *ngIf="card.description" class="badge is-complete" title="Check-list-items"> 	
				<fa-icon [icon]="['fas','check-square']" class="icon-small"></fa-icon>
				<span class="badge-text">2/2</span>
			</div>
		</div>
		<div class="card-members">
			<div class="member-avatar">
				<span>AK</span>
			</div>
		</div>
	</div>
</div>
<app-card-details *ngIf="isCardDetailsActive" [card]="card" (cardDetailsEventEmitter)="cardDetailsEventReciever($event)"></app-card-details>
