<nav>
  <div>
    <div routerLink="" class="nav-section-item">
      <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
      <span>Boards</span>	
    </div>
    <div routerLink="" class="nav-section-item">
      <fa-icon [icon]="['fas', 'home']"></fa-icon>	
      <span>Home</span>	
    </div>
  </div>
  <div>
    <div class="nav-section">
      <div>Teams</div>
    </div>
    <div class="nav-section-item">
      <fa-icon [icon]="['fas', 'plus']" class="header-button-icon"></fa-icon>
      <span>Create Team</span>
    </div>
  </div>
</nav>
