@import '~@angular/cdk/overlay-prebuilt.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body, button, html, input, select, textarea {
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

fa-icon {
    display: inline-block;
    height: 32px;
    width: 32px;
    top: 0;
    left: 0;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.un-styled-button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    min-height: 0;
    padding: 0;
    text-align: left;
}

.hide-dialog-trigger{
    float: right;
    position: relative;
    right: -2px;
    top: -2px;
    z-index: 2;
}

input.subtle-input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 0;
    outline: 0;
    padding: 2px 8px;
    width: calc(100% - 18px - 16px);
}