@import '~@angular/cdk/overlay-prebuilt.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body, button, html, input, select, textarea {
    color: #17394d;
    font-family: Helvetica,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit], input[type=button], form button {
    display: inline-block;
    padding:5px 15px; 
    margin: 5px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
